* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Sans-serif", sans-serif;
}

html, body {
    height: 100vh;
    background-color: #000000;
    color:#ffffff;
}

.container {
    min-height: 100vh; /* Set minimum height to the full height of the viewport */
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1; /* This will make the content take up the remaining space */
}

.navbar {
    width: 100%;
    margin: auto;
    padding: 12px 60px;
    padding-bottom: 10px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    height: auto;
    background-color: #00000000; 
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: background-color 0.5s ease;

   
  }

  .navbar-transparent {
    background-color: rgb(0, 0, 0);
}
  
  .logo {
    width: 60px;
    height: 60px;
    display: block;
    margin: 5px auto;
}
  
  .navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: #ffffff;
    text-transform: none;
    font-weight: 500;
    font-size: 14px;
  }
  
  .navbar ul li::after {
    content: '';
    height: 1.55px;
    width: 0;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -16px;
    transition: 0.5s;
  }
  
  .navbar ul li:hover::after {
    width: 100%;
  }

.hero {
    height: 700px;
    background-image: url("milad-fakurian-ioC4RMV74Zk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 0 100px;
    line-height: 1.6;
}

.hero h1 {
    color: rgb(255, 255, 255);
    font-size: 48px;
    
}

.hero p {
    color: rgb(255, 255, 255);
    font-size: 24px;
    line-height: 1.6;
   
}

.button {
    width: 200px;
    margin-top: 25px;
    padding: 15px 25px;
    border: none;
    border-radius: none;
    background-color: #00000000;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border: #ffffff solid 2px;
    font-weight: 500;
    margin-bottom: 60px;
}

.button:hover {
    background-color: #ffffff;
    color: #000000;
}

.work-with-us {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
    padding-bottom: 20px;
  }
  
  .work-with-us-image {
    width: 40%;
    height: auto;
    border-radius: 10px;
  }
  
  .work-with-us-text {
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    line-height: 1.6;
  }
  
.about {
    margin-top: 100px;
    padding: 20px;
    height: 100vh;
    padding: 30px 100px;
}

.about h2 {
    padding-bottom: 60px;
    font-size: 32px;
    color: #ffffff;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 20px;
    line-height: 1.6;
}

.services {
    padding-bottom: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.service {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-header {
    text-align: center;
    margin: 80px;

}

.service img {
    width: 100px;
    height: 100px;
}

.service h3 {
    margin: 10px 0;
    font-size: 24px;
    color: #ffffff;
}

.service p {
    margin: 10px 0;
    font-size: 18px;
    color: #ffffff;
    line-height: 1.6;
    text-align: center; 
}

.contact {
    margin-top: 100px;
    padding: 20px;
    height: 100vh;
    padding: 30px 100px;
}

.contact h2 {
    padding-bottom: 60px;
    font-size: 32px;
    color: #ffffff;
    margin-bottom: 20px;
}

.contact p {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 20px;
    margin-bottom: 40px;
}

.portfolio {
    margin-top: 100px;
    padding: 20px;
    height: 100%;
    padding: 30px 100px;
}

.portfolio h2 {
    padding-bottom: 60px;
    font-size: 32px;
    color: #ffffff;
    margin-bottom: 20px;
}

.portfolio p {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 20px;
}

form {
    margin-top: 100px;
    max-width: 600px;
    margin: 0px auto;
   
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ffffff;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form textarea {
    resize: none;
}

.another-container {
    max-width: 100%;
    padding-left: 60px;
    
}
  
.footer {
    background-color: #000000;
    height: 25vh;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    position: relative;
}
  
.footer ul {
    list-style: none;
}
  
.row {
    display: flex;
    flex-wrap: wrap;
}
  
.footer-col {
    width: 50%;
    padding: 0 75px;
}
  
.footer-col h4 {
    margin-top: 40px;
    font-size: 14px;
    color: #FFF;
    margin-bottom: 15px;
    font-weight: 500;
    position: relative;
}
  
.footer-col ul li a {
    font-size: 12px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
}
  
.other-logo {
    margin-top: 40px;
    padding-right: 40px;
}